name: Tests
permissions:
  contents: read
  pull-requests: write
  packages: write
  attestations: write
  id-token: write
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
env:
  MISE_EXPERIMENTAL: true
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bazel-contrib/setup-bazel@417f3387feacef25bcac1677dce948069ef73b56
        with:
          bazelisk-cache: true
          bazelrc: |
            common --config=ci
            build --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_API_KEY }}
            test --test_env=XDG_CACHE_HOME
      - name: Install tools via bazel
        run: |
          bazel run --config=quiet //tools:bazel_env print-path >> $GITHUB_PATH
      - name: Verify aspect CLI
        run: aspect --version
      - name: Run Bazel Lints
        run: |
          aspect lint //...
      - name: Run Bazel tests
        run: |
          aspect test //...
